.playerImageDIv {
    width: 100px;
}

body {
    font-size: 14px;
}

.mainContainer {
    top: 0;
    height: 100%;
    background: beige;
    overflow: auto;
}

.createSquadBtn, .mainContainer, .create-t-header, .save-next-sq {
    position: fixed;
    left: 0;
    max-width: 450px;
}

.matchListBox {
    background: #fff;
    border-radius: 10px;
    display: block;
}

.create-t-header, .matchListBox, .createSquadBtn, .mainContainer, .create-t-header, .save-next-sq {
    width: 100%;
}

.playerImageDiv img {
    width: 50px;
}

.isSecondInnings.matchListBox {
    background-color: #333;
}

.potmain {
    background: #fff;
}

.ppm-round-btn, .potmain, .ct-teamNameData, .cr-resetbutton, .gamesDiv {
    border-radius: 15px;
}

.f-12, #cr-dropdown {
    font-size: 12px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.bold {
    font-weight: 600;
}

.potboxheading, .createSquadBtn, .potmiddle, .matchListBox, .min-max-main {
    padding: 10px;
}

.f-i {
    font-style: italic;
}

.winCashAmount {}

.ppm-green {
    color: #17a800;
}

.f-16 {
    font-size: 16px;
}

.f-10 {
    font-size: 10px;
}

.ppm-gray {
    color: #666;
}

.potmiddle {
    border-top: 10px solid #e7e7e7;
}

.m-b-10 {
    margin-bottom: 10px;
}

.progressBar {
    height: 4px;
    margin-top: 2px;
    border-radius: 10px;
    background: #d1d1d1;
}

.progressInner {
    background: #17a800;
    width: 73%;
    border-radius: 10px;
    height: 100%;
}

.btn-green {
    background: #17a800;
}

.ppm-round-btn {
    font-size: 12px;
    text-align: center;
}

.cursor, .ppm-round-btn {
    cursor: pointer;
}

.tabtimerdiv, .ppm-round-btn, .ct-teamNameData {
    padding: 5px 15px;
}

.save-next-sq div {
    padding: 10px 15px;
}

.createSquadBtn {
    background: #f7931d;
}

.save-next-sq, .createSquadBtn {
    bottom: 0;
}

.createSquadBtn, .ppm-round-btn, .isSecondInnings.matchListBox, .text-white {
    color: #fff;
}

.ppm-round-btn, .createSquadBtn, #cr-dropdown, #cr-dropdown:focus {
    border: none;
}

.potMaincontainer {
    margin: 10px 0 48px;
}

.pottabmain {
    background: #f9f9f9;
}

.potstabpparent div {
    padding: 10px;
    flex-basis: 0;
    transition: all .3s;
}

.potstabpparent .active {
    border-bottom: 2px solid #f7931d;
}

.create-t-header {
    height: 227px;
    background-image: url('./assets/icons/tool-bar-top.jpg');
    background-size: 100% 100%;
    z-index: -1;
}

#cr-dropdown, #cr-dropdown:focus {
    background: #313947;
}

.progressBar, #cr-dropdown, #cr-dropdown:focus {
    box-shadow: none;
}

.f-14 {
    font-size: 14px;
}

.backIcon {
    background-image: url('./assets/icons/back.png');
    height: 25px;
    width: 25px;
    background-size: 25px;
}

.relative {
    position: relative;
}

.m-t-10 {
    margin-top: 10px;
}

.p-t-10 {
    padding-top: 10px;
}

.ct-teamNameData {
    background: #017eff;
    width: 90%;
}

.cr-resetbutton {
    color: #007ae2;
    border: 1px solid;
    opacity: 0.5;
}

.cr-resetbutton, .gamesDiv {
    padding: 5px 10px;
}

.gamesDiv {
    background: #ffffff14;
}

.playerrole-switch div {
    padding: 10px 5px;
}

.potstabpparent div, .playerrole-switch div {
    border-bottom: 2px solid transparent;
}

.potstabpparent .active, .playerrole-switch .active {
    border-bottom: 2px solid #f7931d;
}

.playerrole-switch, .cr-pts-row {
    border-radius: 15px 15px 0 0;
}

.potstabpparent div, .playerrole-switch div {
    flex-grow: 1;
}

.min-max-main {
    border-top: 1px solid #333;
}

.shadow {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.cr-pg {
    width: 90px;
}

.cr-pts-row {
    background: #324470;
}

.cr-pts-row div {
    padding: 5px;
}

.cr-ply-img {
    width: 45px;
}

.cr-sq-plimg {
    width: 40px;
}

.cr-sq-player-row {
    padding: 10px 0;
    border-bottom: 1px solid #e7e7e7;
}

.col-50 {
    width: 50%;
}

.crete-nextbtn {
    background: #ccc;
}

.ppm-blue, .min-max-div {
    color: #0084f3;
}

.hidden {
    display: none !important;
}
.cr-sq-player-row.active{
    background: #d4e1fa !important;
    border-bottom: 1px solid #d1d1d1;
}